<h2>Editar vaga</h2>

<%= form_with(model: @job) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br />

  <%= f.label :details %>
  <%= f.text_field :details %><br />

  <%= f.label :salary %>
  <%= f.number_field :salary %><br />

  <%= f.label :level %>
  <%= f.text_field :level %><br />

  <%= f.label :requirements %>
  <%= f.text_field :requirements %><br />

  <%= f.label :deadline %>
  <%= f.text_field :deadline %><br />

  <%= f.label :quantity_of_positions %>
  <%= f.number_field :quantity_of_positions %><br />

  <%= f.submit t('.save') %>
<% end %>
  