<h2>Editar vaga</h2>

<%= form_with(model: @job) do |f| %>
  <%= f.label :title, 'Título da Vaga' %>
  <%= f.text_field :title %><br />

  <%= f.label :details, 'Detalhes' %>
  <%= f.text_field :details %><br />

  <%= f.label :salary, 'Salário' %>
  <%= f.number_field :salary %><br />

  <%= f.label :level, 'Nível' %>
  <%= f.text_field :level %><br />

  <%= f.label :requirements, 'Requisitos' %>
  <%= f.text_field :requirements %><br />

  <%= f.label :deadline, 'Data Limite' %>
  <%= f.text_field :deadline %><br />

  <%= f.label :quantity_of_positions, 'Quantidade de Vagas' %>
  <%= f.number_field :quantity_of_positions %><br />

  <%= f.submit "Salvar" %>
<% end %>
  