<h2>Lista de Vagas</h2>

<% if @jobs.blank? %>
  <p><%= t('.jobs_blank') %></p>
<% else %>
  <section class='job-list'>
    <% @jobs.each do |job| %>
      <div class='job-details'>
        <dl>
          <dt><%= t('.title') %></dt>
          <dd><%= job.title  %></dd>
          <dt><%= t('.company') %></dt>
          <dd><%= job.company.name  %></dd>
          <dt><%= t('.details') %></dt>
          <dd><%= job.details %></dd>
          <dt><%= t('.requirements') %></dt>
          <dd><%= job.requirements %></dd>
          <dt><%= t('.deadline') %></dt>
          <dd><%= job.deadline %></dd>
          <dt><%= t('.quantity_of_positions') %></dt>
          <dd><%= job.quantity_of_positions %><dd>
        </dl>
      </div>
    <% end %>
  </section>  
<% end %>
