<h2>Criar nova vaga para <%= Company.find(params[:company_id]).name  %> </h2>

<%= form_with(model: @job) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, placeholder: "Ex: Desenvolvedor Java Pleno " %><br />

  <%= f.label :details %>
  <%= f.text_field :details, placeholder: "Ex: Desenvolver aplicações para ..." %><br />

  <%= f.label :salary %>
  <%= f.number_field :salary %><br />

  <%= f.label :level %>
  <%= f.text_field :level %><br />

  <%= f.label :requirements %>
  <%= f.text_field :requirements, placeholder: "HTML, CSS, etc" %><br />

  <%= f.label :deadline %>
  <%= f.text_field :deadline %><br />

  <%= f.label :quantity_of_positions %>
  <%= f.number_field :quantity_of_positions %><br />

  <%= f.submit t('.save') %>
<% end %>
  