<h2>Detalhes da Vaga</h2>

<div class='job-details'>
  <dl>
    <dt>Vaga:</dt>
    <dd><%= @job.title  %></dd>
    <dt>Empresa:</dt>
    <dd><%= @job.company.name  %></dd>
    <dt>Detalhes:</dt>
    <dd><%= @job.details %></dd>
    <dt>Requisitos:</dt>
    <dd><%= @job.requirements %></dd>
    <dt>Data limite:</dt>
    <dd><%= @job.deadline %></dd>
    <dt>Quantidade de vagas:</dt>
    <dd><%= @job.quantity_of_positions %><dd>
  </dl>
</div>

<div>
  <% if employee_signed_in? && current_employee.company == @job.company %>
      <%= link_to 'Editar Vaga', edit_job_path(@job)  %>
      <% unless @job.inactive? %>
        <%= link_to 'Desativar Vaga', inactivate_job_path(@job), method: :post %>
      <% end %>
  <% elsif candidate_signed_in? %>
    <%= link_to 'Enviar Candidatura', apply_candidate_path, method: :post  %>
  <% end %>

  <% unless candidate_signed_in? || employee_signed_in? %>
    <%= link_to 'Candidatar-se', new_candidate_session_path %>
  <% end %>  
</div>
