<h2>Detalhes da Vaga</h2>

<div class='job-details'>
  <dl>
    <dt><%= t('.title') %></dt>
    <dd><%= @job.title  %></dd>
    <dt><%= t('.company') %></dt>
    <dd><%= @job.company.name  %></dd>
    <dt><%= t('.details') %></dt>
    <dd><%= @job.details %></dd>
    <dt><%= t('.requirements') %></dt>
    <dd><%= @job.requirements %></dd>
    <dt><%= t('.deadline') %></dt>
    <dd><%= @job.deadline %></dd>
    <dt><%= t('.quantity_of_positions') %></dt>
    <dd><%= @job.quantity_of_positions %><dd>
    <dt><%= t('.status') %></dt>
    <dd><%= @job.status %><dd>
  </dl>
</div>

<div>
  <% if employee_signed_in? && current_employee.company == @job.company %>
      <%= link_to t('.edit_job'), edit_job_path(@job)  %>
      <% unless @job.inactive? %>
        <%= link_to t('.inactive_job'), inactivate_job_path(@job), method: :post %>
      <% end %>
  <% elsif candidate_signed_in? && @job.active? && !current_candidate.has_applied_for?(@job) %>
    <%= link_to t('.apply_for_job'), apply_candidate_path, method: :post  %>
  <% end %>

  <% unless candidate_signed_in? || employee_signed_in? %>
    <%= link_to t('.apply'), new_candidate_session_path %>
  <% end %>  
</div>
