<h2>Recusar Candidatura</h2>

<div class='job-application-details'>
  <dl>
    <dt>Vaga:</dt>
    <dd><%= @job.title %></dd>
    <dt>Candidato:</dt>
    <dd><%= @candidate.name  %></dd>
    <dt>E-mail:</dt>
    <dd><%= @candidate.email  %></dd>
  </dl>
</div>

</div>
  <h3>Mensagem para o candidato</h3>
  <%= form_with model: @job_application do |f| %>
    <%= f.label :message, 'Mensagem' %>
    <%= f.text_area :message, placeholder: "Motivo da recusa..." %><br />
    <%= f.submit "Enviar" %>
  <% end %>
<div>