<h2>Recusar Candidatura</h2>

<div class='job-application-details'>
  <dl>
    <dt><%= t('.job') %></dt>
    <dd><%= @job.title %></dd>
    <dt><%= t('.candidate') %></dt>
    <dd><%= @candidate.name  %></dd>
    <dt><%= t('.email') %></dt>
    <dd><%= @candidate.email  %></dd>
  </dl>
</div>

</div>
  <h3>Mensagem para o candidato</h3>
  <%= form_with model: @job_application do |f| %>
    <%= f.label :message, t('.message') %>
    <%= f.text_area :message, placeholder: "Motivo da recusa..." %><br />
    <%= f.submit t('.send') %>
  <% end %>
<div>