<h2>Perfil do candidato:</h2>

<h3><%= @candidate.name  %></h3>

<dl>
  <dt> <%=t('.email')%></dt>
  <dd><%= @candidate.email %></dd>
  <dt>CPF</dt>
  <dd><%= @candidate.cpf %></dd>
  <dt><%=t('.phone')%></dt>
  <dd><%= @candidate.phone %></dd>
  <dt><%=t('.biography')%></dt>
  <dd><%= @candidate.biography %></dd>
  <dt><%=t('.skills')%></dt>
  <dd><%= @candidate.skills %></dd>
</dl>

<%= link_to t('.edit_profile'), edit_candidate_path(@candidate)  %>
<%= link_to t('.my_applications'), job_applications_candidate_path(@candidate)  %>