<div class="jumbotron mx-5">
  <div class="container w-75">
    <h1 class="display-5">Empresas cadastradas</h1>
    <hr class="my-4">
  </div>
</div>

<div class="container d-flex flex-column align-items-center">
  <% if @companies.blank? %>
    <p><%= t('.zero_company')  %></p>
  <% else %>
    <% @companies.each do |company|  %>
      <div class="card mt-4 w-75">
        <div class="card-header d-flex flex-row justify-content-left align-items-center">
          <a class="mx-5" style="width: 50px;" href="<%=company_path(company[:id])%>" >
            <img src="<%= company.logo %>" class="img-fluid img-thumbnail rounded" >
          </a>
          <h4><%= link_to company.name, company_path(company[:id]), class: 'card-title' %></h4>
        </div>
        <div class="card-body">
          <p class="card-text"><%= company.description  %></p>
          <p class="card-text"><%= company.tech_stack  %></p>
        </div>
      </div>
    <% end %>
  <% end %>
<div>