<h2>Candidaturas Recebidas</h2>

<% if @company.job_applications.blank? %>
  <p>Nenhuma candidatura recebida</p>
<% else %>
  <section class='job-application-list'>
    <% @job_applications.each do |j| %>
      <div class='job-application-details'>
        <dl>
          <dt>Vaga:</dt>
          <dd><%= j[:job].title %></dd>
          <dt>Candidato:</dt>
          <dd><%= j[:candidate].name  %></dd>
          <dt>E-mail:</dt>
          <dd><%= j[:candidate].email  %></dd>
          <dt>Status:</dt>
          <dd> <%= I18n.t(".#{j[:job_application].status}") %></dd>
          <% if j[:job_application].declined? %>
            <dt>Mensagem enviada:</dt>
            <dd> <%= j[:job_application].message %></dd>
          <% end %>
        </dl>
        <hr>
        <% if j[:job_application].pending? %>
          <%= link_to "Recusar Candidatura", edit_job_application_path(j) %>
        <% end %>
      </div>
    <% end %>
  </section>  
<% end %>
