<h2>Candidaturas Recebidas</h2>

<% if @company.job_applications.blank? %>
  <p><%= t('.zero_applications')  %></p>
<% else %>
  <section class='job-application-list'>
    <% @job_applications.each do |j| %>
      <div class='job-application-details'>
        <dl>
          <dt><%= "#{t('.job')}:" %></dt>
          <dd><%= j[:job].title %></dd>
          <dt><%= "#{t('.candidate')}:"  %></dt>
          <dd><%= j[:candidate].name  %></dd>
          <dt><%= "#{t('.email')}:" %></dt>
          <dd><%= j[:candidate].email  %></dd>
          <dt><%= "#{t('.status')}:" %></dt>
          <dd> <%= I18n.t(".#{j[:job_application].status}") %></dd>
          <% if j[:job_application].declined? %>
            <dt><%= "#{t('.message')}:" %></dt>
            <dd> <%= j[:job_application].message %></dd>
          <% end %>
        </dl>
        <hr>
        <% if j[:job_application].pending? %>
          <%= link_to t('.decline_application'), edit_job_application_path(j) %>
          <%= link_to t('.accept_application'), new_job_application_offer_path(j[:job_application]) %>
        <% end %>
      </div>
    <% end %>
  </section>  
<% end %>
