<h2>Detalhes da empresa</h2>

<div>
  <%= link_to t('.back'), companies_path %>
</div>

<div>
    <img src="<%= @company.logo %>" >
    <p><%= @company.name %></p>
    <p><%= @company.description  %></p>
    <p><%= @company.address  %></p>
    <p><%= @company.tech_stack.split(',').join(' -')  %></p>
    
    <% if employee_signed_in? && current_employee.company == @company %>
      <%= link_to t('.create_jobs'), new_company_job_path(@company)  %>
      <%= link_to t('.company_applications'), job_applications_company_path(@company)  %>
      <% if current_employee.admin? %>
        <%= link_to t('.edit_company_profile'), edit_company_path(@company)  %>
      <% end %>
    <% end %>
    
</div>

<% if @company.jobs.blank? %>
  <h3><%= t('.jobs_blank') %></h3>
<% else %>
  <section class='job-list'>
    <h2><%= t('.company_jobs') %></h2>
    <% @company.jobs.each do |job|  %>
      <div class="job-<%=job.id%>">
        <h3><%= job.title %></h3>
        <p><%= job.level %></p>
        <p><%=t('.up_to') %> <%= number_to_currency(job.salary, delimiter: '.', precision: 0) %></p>
        <%= link_to t('.job_details'), job_path(job)  %>
      </div>
    <% end %>
  </section>
<% end %>

