<h2>Detalhes da empresa</h2>

<div>
  <%= link_to 'Voltar', companies_path %>
</div>

<div>
    <img src="<%= @company.logo %>" >
    <p><%= @company.name %></p>
    <p><%= @company.description  %></p>
    <p><%= @company.address  %></p>
    <p><%= @company.tech_stack.split(',').join(' -')  %></p>
</div>

<% if @company.jobs.blank? %>
  <h3>Nenhuma vaga disponível no momento</h3>
<% else %>
  <section class='job-list'>
    <h2>Vagas da empresa</h2>
    <%= @company.jobs.each do |job|  %>
      <div class="job-<%=job.id%>">
        <h3><%= job.title %></h3>
        <%#TODO - adicionar i18n para formatar currency %>
        <p><%= job.level %></p>
        <p>Até <%= number_to_currency(job.salary, unit: "R$", delimiter: '.', precision: 0) %></p>
        <%= link_to 'Detalhes da vaga', job_path(job)  %>
        <p><%# job.details %></p>
        <p><%# job.requirements %></p>
        <p><%# job.deadline %></p>
        <p><%# job.quantity_of_positions %></p>
      </div>
    <% end %>
  </section>
<% end %>

