<h2>Nova Proposta de Emprego</h2>

<%= form_with(model: @offer, url: job_application_offers_path, local: true )  do |f| %>
  <%= f.label :message %>
  <%= f.text_area :message, placeholder: "Mensagem para o candidato..." %><br />

  <%= f.label :salary %>
  <%= f.number_field :salary %><br />
  
  <%= f.label :start_date %>
  <%= f.date_field :start_date %><br />
  
  <%= f.submit t('.send') %>
<% end %>
  