<h2>Proposta de Emprego</h2>

<div class='offer-details'>
  <dl>
    <dt>Vaga:</dt>
    <dd><%= @offer.job.title  %></dd>
    <dt>Mensagem:</dt>
    <dd><%= @offer.message  %></dd>
    <dt>Empresa:</dt>
    <dd><%= @offer.job.company.name  %></dd>
    <dt>Data de início:</dt>
    <dd><%= l(@offer.start_date) %></dd>
    <dt>Salário:</dt>
    <dd><%= number_to_currency(@offer.salary) %><dd>
    <dt>Status:</dt>
    <dd><%= I18n.t(".#{@offer.status}") %><dd>
  </dl>
</div>

<% if @offer.pending? %>
  <div>
    <%= form_with(model: @offer, url: accept_job_application_offer_path(@offer), method: :post, class: 'accept-form' ) do |f| %>
      <%= f.label :confirmation_date, t('.confirmation_date') %>    
      <%= f.date_field :confirmation_date %>

      <%= f.submit t('.accept') %>
    <% end %>
  </div>

  <div>
    <%= form_with(model: @offer, url: decline_job_application_offer_path(@offer), method: :post, class: 'decline-form' ) do |f| %>
      <%= f.label :decline_message, t('.decline_message') %>    
      <%= f.text_area :decline_message %>

      <%= f.submit t('.decline') %>
    <% end %>
  </div>
<% end %>