<!DOCTYPE html>
<html>
  <head>
    <title>JobBoardSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to 'Início', root_path %>
        <% if candidate_signed_in? %>
          <li><%= current_candidate.email %></li>
          <li><%= link_to 'Sair', destroy_candidate_session_path, method: :delete %></li>
        <% end %>
      </nav>
    </header>
    <main>
      <div class='flash-messages'>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
