<!DOCTYPE html>
<html>
  <head>
    <title>JobBoardSystem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container-fluid pt-5">
    <header class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <nav class="container-md flex-wrap flex-md-nowrap" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><%= link_to t('.home'), root_path, class: 'nav-link active' %></li>
            <% if candidate_signed_in? %>
              <li class="nav-item"><%= link_to current_candidate.email, candidate_path(current_candidate), class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to t('.sign_out'), destroy_candidate_session_path, method: :delete, class: 'nav-link' %></li>
            <% elsif employee_signed_in? %>
              <li class="nav-item"><%= link_to current_employee.email, company_path(current_employee.company), class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to t('.sign_out'), destroy_employee_session_path, method: :delete, class: 'nav-link' %></li>
            <% elsif !current_page?(new_candidate_session_path) || !current_page?(new_employee_session_path) %>
              <li class="nav-item"><%= link_to t('.candidates_login'), new_candidate_session_path, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to t('.companies_login'), new_employee_session_path, class: 'nav-link' %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    
    <main class="pt-5">
      <div class="container flash-messages">
        <% flash.each do |key, value| %>
          <div class="<%= bootstrap_class_for_flash(key) %>">
              <%= value %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
