<!DOCTYPE html>
<html>
  <head>
    <title>JobBoardSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to 'Início', root_path %>
        <%#TODO refatorar essa view  %>
        <% if candidate_signed_in? %>
          <li><%= link_to current_candidate.email, candidate_path(current_candidate) %></li>
          <li><%= link_to 'Sair', destroy_candidate_session_path, method: :delete %></li>
        <% elsif employee_signed_in? %>
          <li><%= link_to current_employee.email, company_path(current_employee.company) %></li>
          <li><%= link_to 'Sair', destroy_employee_session_path, method: :delete %></li>
        <% elsif !current_page?(new_candidate_session_path) #|| !current_page?(new_employee_session_path) %>
          <li><%= link_to 'Login para Candidatos', new_candidate_session_path %></li>
          <li><%= link_to 'Login para Empresas', new_employee_session_path %></li>
        <% end %>
      </nav>
    </header>
    
    <main>
      <div class='flash-messages'>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
